@import "tailwindcss";

:root {
  --background: #F6F8F6;
  --foreground: #0D1B11;
  --primary: #13EC49;
}

@theme inline {
  --color-background: #F6F8F6;
  --color-foreground: #0D1B11;
  --color-primary: #13EC49;
  --color-primary-dark: #0EA835;
  --color-bg-light: #F6F8F6;
  --color-bg-dark: #102215;
  --font-sans: var(--font-jakarta);

  --radius-card: 24px;
  --radius-button: 9999px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}